@using Nop.Services.Authentication.External

@{
    var errors = Context.Session.RetrieveErrorsToDisplay();
}
@using Microsoft.AspNetCore.Http
@using Nop.Services.Html
@if (errors != null && errors.Count > 0)
{
    <div class="external-auth-errors">
        <ul>
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}